body {
    font-family: "Lato", sans-serif;
    display: flex;
}

.iconoption {
    margin-top: 30px;
}

.main {
    margin-left: 50px;
}

.avata {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px white;
    margin-top: 25px;
    margin-left: 3px;
    /* margin-bottom: 10px;
    margin-right: 10px; */
}

.avatadanhba {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.sidenav {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    height: 100%;
    width: 67px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* padding-top: 10px; */
}

.avatar {
    margin-bottom: 40px;
}

.sidenav a {
    margin-right: 3px;
    padding-left: 10px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#btnThoat {
    position: absolute;
    bottom: 0px;
    margin: 10px;
    width: 70px;
}

.sidenav a:hover {
    color: #000000;
}

.title {
    display: flex;
    padding-top: 25px;
    padding-left: 20px;
}

.titleName {
    padding-left: 20px;
}

.themdanhba {
    /* background-color: #E6F0FF; */
    margin-top: 10px;
    display: flex;
    padding-left: 20px;
    height: 50px;
    transition: 0.2s;
}

.themdanhbasdt {
    margin-bottom: 10px;
    /* background-color: #E6F0FF; */
    display: flex;
    padding-left: 20px;
    height: 50px;
    transition: 0.2s;
}

.themdanhbasdt:hover {
    width: 95%;
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.themdanhba p {
    padding-left: 20px;
    padding-top: 17px;
    font-size: 17px;
}

.themdanhba:hover {
    width: 95%;
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.btnthongtincanhan {
    margin: 0 auto;
    margin-bottom: 10px;
}

.chatbox,
.dsketban,
.banbe {
    /* background-color: #1695A6; */
    display: flex;
    height: 70px;
    padding-top: 5px;
    padding-left: 20px;
    transition: 0.2s;
    width: 95%;
    /* padding-bottom: 10px; */
}

.chatbox:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-right: 5px solid #1E8CB0;
}

.danhsachketban :hover {
    color: #1695A6;
}

.option {
    transition: 0.2s;
}

.option:hover {
    transform: scale(1.1);
}

.col-3 {
    background-color: #FFFFFF;
    /* color: white; */
    height: 100vh;
}

.col-9 {
    /* background-color: #C2DCEB; */
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.chatinfo {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: white;
}

.chatboxavatar {
    width: 90px;
    margin-right: 20px;
}

.noidung {
    padding-left: 20px;
    margin-top: 20px;
}

.tenban {
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: 450;
}

.avatarpopup {
    margin-left: 100px;
    padding-bottom: 50px;
    width: 47%;
}

.avatamodal {
    border-radius: 50%;
    width: 120%;
    height: 100%;
    margin-right: 30px;
}

.namechat {
    margin-top: 10px;
    margin-left: 10px;
}


/* nhập số điện thoại nè */

.intl-tel-input {
    display: table-cell;
}

.intl-tel-input .selected-flag {
    z-index: 4;
}

.intl-tel-input .country-list {
    z-index: 5;
}

.input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
}


/* Khung ben phai */

.nhaptinnhan {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
}

.inforFriend {
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: #FFFFFF;
    height: 10%;
}

.btnchat {
    margin-left: -5%;
    border: none;
    margin-top: 10px;
    background-color: white;
    height: 50px;
}

.inputchat {
    height: 110px;
    border: 0 !important;
    border-radius: 0 !important;
}

.tacvu {
    width: 100%;
    background-color: aliceblue;
    padding-left: 20px;
    padding-top: 5px;
    position: absolute;
    bottom: 9.5%;
    height: 42px;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
}

.chodongykb {
    position: relative;
    margin-left: 30px;
    border: 1px solid #D5DCE1;
    height: 100px;
    background-color: #EDF5FB;
    -webkit-box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 32px -20px rgba(0, 0, 0, 0.55);
    margin-bottom: 15px;
    border-radius: 5px;
}

.btnchodongykb {
    position: absolute;
    margin-top: 15px;
    height: 50px;
    display: flex;
    right: 30px;
}

.avatachodongykb {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 35px;
    width: 70px;
    height: 70px;
}

.goiykb {
    display: flex;
    flex-wrap: wrap;
}

.itemgoiykb {
    margin-top: 20px;
    margin-left: 30px;
    -webkit-box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 32px -25px rgba(0, 0, 0, 0.55);
    width: 250px;
    height: 250px;
}

.avatagykb {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}