html,
body {
    height: 100%;
    overflow: hidden;
}

#meMessageBox {
    font-size: 16px;
    text-align: left;
    display: inline-block;
    position: absolute;
    /* --- */
    right: 0px;
}

#messageBox {
    font-size: 16px;
    display: inline-block;
}

#meMessage {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #dae9ff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#message {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #fff;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#messagesBuble {
    background: rgb(246, 246, 246);
    background: radial-gradient(circle, rgba(246, 246, 246, 1) 41%, rgba(231, 227, 227, 1) 89%);
    margin: auto;
    width: 100%;
    min-height: 50%;
    height: 75%;
    /* border: 2px solid darkgrey; */
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 15%;
}

#conversation {
    width: 90%;
    padding-bottom: 30px;
    position: absolute;
    top: 10%;
    left: 5%;
}

#newUser {
    font-style: italic;
    font-size: 14px;
}

#sender,
#me {
    font-weight: bold;
}

#sender {
    width: 100%;
    text-align: left;
    padding-left: 25px;
}

#me {
    width: 100%;
    text-align: left;
    padding-left: 25px;
}